<!-- <div class="container">
    <h2>Resume Info</h2>
    <div class="card">
        <div class="card-header">Your Resume Score</div>
        <div class="card-body">Your Resume scored 100 points. Background verification done successfully...</div>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-success">List all jobs
            <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
    </div>
</div> -->




<div class="header">
        <section id="intro" class="section-intro pb6">
            <div class="logo-menu">
                <nav class="navbar navbar-default bshad-n" role="navigation" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand logo" style="width:170px;" href="#">
                                <img src="../../assets/img/logo.png" alt="">
                            </a>
                        </div>
    
                        <div class="collapse navbar-collapse" id="navbar">
                            <!-- Start Navigation List -->
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu Start -->
                    <ul class="wpb-mobile-menu">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                    <!-- Mobile Menu End -->
                </nav>
            </div>
    
    
            <div class="search-container">
                <div class="container">
                    <form #f="ngForm" (ngSubmit)="viewJobs(f.value)">
                        <div class="row">
                            <div class="col-md-12" style="background:#ddd; padding:0;border-radius:10px;margin-bottom:20px;">
                                <div class="skills score-ui">90%</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>7/8 credentials have been successfully verified.</h2>
                                <br>
                                <h2 class="mb15">
                                    <a style="cursor:pointer; text-decoration:underline;color:#12A5F4;">Click here</a> for details.
                                </h2>
                                <br />
    
                                <h2 class="colorwhite">Please select your experience and primary skills to view suitable jobs</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div>
                                                                    <label for="exp">Experience (in years)</label>
                                                                </div>
                                                                <input type="number" min="0" class="form-control" id="exp" ngModel name="experience" placeholder="Enter Experience in years">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div>
                                                                    <label for="skills">Relevant Skills</label>
                                                                </div>
                                                                <select multiple class="form-control h125" ngModel name="primarySkills">
                                                                    <option *ngFor="let r of relevantSkills" [ngValue]="r">
                                                                        {{r}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <button type="submit" class="btn btn-common pull-left">
                                    Click here to view list of jobs you can apply
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
        </section>
    
    </div>
    
    <script type="text/javascript">
        //file upload
        document.getElementById('file-button-browse').addEventListener('click', function () {
            document.getElementById('files-input-upload').click();
        });
    
        document.getElementById('files-input-upload').addEventListener('change', function () {
            document.getElementById('file-input-name').value = this.value;
    
            document.getElementById('file-upload-resume').removeAttribute('disabled');
        });
    </script>
    
    <style>
        .mb15 {
            margin-bottom: 15px !important;
        }
    
        .input-group-btn .btn {
            margin: 0 0 0px 0;
        }
    
        .input-group .input-group-btn {
            padding: 0 0px;
        }
    
        .pt8 {
            padding-top: 8px;
        }
    
        .pr0 {
            padding-right: 0;
        }
    
        .pb6 {
            padding-bottom: 6px;
        }
    
        .ft-color {
            color: #12A5F4;
        }
    
        .bshad-n {
            box-shadow: none;
        }
    </style>
    
    
    
    <style>
        .skills {
            text-align: right;
            padding-right: 20px;
            line-height: 40px;
            color: white;
            border-radius: 10px;
        }
    
        .score-ui {
            width: 90%;
            background-color: #4CAF50;
        }
    </style>
    
    <!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>