
        .mb15{margin-bottom:15px !important;}
        .input-group-btn .btn {
            margin: 0 0 0px 0;
        }
        .input-group .input-group-btn {
            padding: 0 0px;
        }
        .pt8 {
            padding-top: 8px;
        }
        .pr0{padding-right:0;}
        .pb6{padding-bottom:6px;}
        .ft-color {
            color: #12A5F4;
        }
      .bshad-n {
          box-shadow: none;
      }
      .search-container {
          padding: 9% 0;
          display: inline-block;
          width: 100%;
          position: relative;
      }
          .search-container .form-control {
              padding: 0 15px;
              border: 1px solid transparent;
          }
      .signin-title {
          text-align: center;
          color: #333;
          margin-bottom: -15px;
      }


      .card-container.card {
          max-width: 350px;
          padding: 40px 40px;
      }


      /*
* Card component
*/
      .card {
          background-color: #F7F7F7;
          /* just in case there no content*/
          padding: 20px 25px 30px;
          margin: 0 auto;
          /* shadows and rounded borders */
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          opacity:0.6;
      }

      .profile-img-card {
          width: 96px;
          height: 96px;
          margin: 0 auto 10px;
          display: block;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
      }

      /*
* Form styles
*/
      .profile-name-card {
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          margin: 10px 0 0;
          min-height: 1em;
      }

      .reauth-email {
          display: block;
          color: #404040;
          line-height: 2;
          margin-bottom: 10px;
          font-size: 14px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }

      .form-signin #inputEmail,
      .form-signin #inputPassword {
          direction: ltr;
          height: 44px;
          font-size: 16px;
      }

      .form-signin input[type=email],
      .form-signin input[type=password],
      .form-signin input[type=text],
      .form-signin button {
          width: 100%;
          display: block;
          margin-bottom: 10px;
          z-index: 1;
          position: relative;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }

      .form-signin .form-control:focus {
          border-color: rgb(104, 145, 162);
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
      }

      .btn.btn-signin {
          /*background-color: #4d90fe; */
          background-color: rgb(104, 145, 162);
          /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
          padding: 0px;
          font-weight: 700;
          font-size: 14px;
          height: 36px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          border: none;
          -o-transition: all 0.218s;
          -moz-transition: all 0.218s;
          -webkit-transition: all 0.218s;
          transition: all 0.218s;
      }

          .btn.btn-signin:hover,
          .btn.btn-signin:active,
          .btn.btn-signin:focus {
              background-color: rgb(12, 97, 33);
          }

      .forgot-password {
          color: #12A5F4;
      }

          .forgot-password:hover,
          .forgot-password:active,
          .forgot-password:focus {
              color: #12A5F4;
          }


          .btn-common:hover, .btn-common:focus {
            color: #fff !important;
            background: #00649a;
            -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        }

        .pb30{padding-bottom:30px; }