<!-- <div class="container">
  <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
    <h2 class="form-signin-heading">
      Please sign in
    </h2>

    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid Username and/or Password.</div>
    <div class="form-group">
      <label for="UserName">User Name</label>
      <input type="text" [(ngModel)]="f.userName" #username="ngModel" name="username" id="UserName" class="form-control" title="User Name"
        required>
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" [(ngModel)]="f.password" #password="ngModel" name="password" id="Password" class="form-control" title="Password"
        required>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </div>
  </form>
</div> -->



<div class="header">
  <section id="intro" class="section-intro pb6 pb30">
    <div class="search-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-container">
              <a href="#">
                <img id="profile-img" class="" src="../../assets/img/logo.png" />
              </a>
              <br>
              <br>
              <br>
              <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
                <input type="text" [(ngModel)]="f.userName" #username="ngModel" name="username" id="UserName" class="form-control" placeholder="Email address"
                  autofocus>
                <input type="password" [(ngModel)]="f.password" #password="ngModel" name="password" id="Password" class="form-control" placeholder="Password">
                <div id="remember" class="checkbox">
                  <label style="color:#12A5F4;">
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-common btn-large" type="submit">Sign in</button>
                <div *ngIf="invalidLogin" class="alert alert-danger">Invalid Username and/or Password.</div>
              </form>
              <!-- /form -->
              <a href="#" class="forgot-password">
                Forgot the password?
              </a>
              <a href="#" class="forgot-password pull-right">
                Sign up
              </a>
              <br>
            </div>
            <!-- /card-container -->
          </div>
        </div>
      </div>
    </div>

  </section>

</div>


<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="ti-arrow-up"></i>
</a>