<!-- <div class="container">
  <h2>Issuers</h2>
  <ul class="list-group">
    <li *ngFor="let i of institutes" class="list-group-item">{{i.issuer}}
      <span class="badge">Issuer URL - {{i.cert_url}}</span>
    </li>
  </ul>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-success" (click)="verifyInfo()">Proceed
      <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
    </button>
  </div>
</div> -->

<div class="header">
    <div class="logo-menu">
        <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo logow-al" href="#">
                        <img src="../../assets/img/logo.png" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Start Navigation List -->
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu Start -->
            <ul class="wpb-mobile-menu">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->
        </nav>
    </div>
</div>





<section class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <!-- <div class="col-md-4">
                                      <div class="form-group">
                                          <div><label>Full Name</label></div>
                                          <input type="text" class="form-control" id="name" placeholder="Full Name">
                                      </div>
                                  </div> -->
                                <div class="col-md-6" *ngIf="contactDetails?.email">
                                    <div class="form-group">
                                        <div>
                                            <label>Email ID</label>
                                        </div>
                                        <input type="email" [value]="contactDetails.email" class="form-control" id="email" placeholder="Email ID" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="contactDetails?.contact">
                                    <div class="form-group">
                                        <div>
                                            <label>Mobile Number</label>
                                        </div>
                                        <input type="number" [value]="contactDetails.contact[0]" class="form-control" id="mobile" placeholder="Mobile Number" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <section class="section text-center">
            <h2>You have {{institutes?.length}} credentials to verify</h2>
        </section>

        <h3>Issuers</h3>
        <div class="row">
            <div *ngFor="let i of institutes" class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="featured-wrap">
                        <div class="featured-inner">
                            <figure class="item-thumb">
                                <a class="hover-effect" href="#">
                                    <img src="../../assets/img/features/img-3.jpg" alt="">
                                </a>
                            </figure>
                            <div class="item-body">
                                <h3 class="job-title">
                                    <a href="#">{{i.issuer}}</a>
                                </h3>
                                <div class="adderess">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>{{i.cert_url}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="item-foot">
                          <span><i class="fa fa-calendar" aria-hidden="true"></i> Issued June 30, 2009</span>
                          <span><i class="fa fa-clock-o" aria-hidden="true"></i>                            Full Time</span>
                      </div> -->
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-item">
                      <div class="featured-wrap">
                          <div class="featured-inner">
                              <figure class="item-thumb">
                                  <a class="hover-effect" href="#">
                                      <img src="../../assets/img/features/img-1.jpg" alt="">
                                  </a>
                              </figure>
                              <div class="item-body">
                                  <h3 class="job-title"><a href="#">PGP</a></h3>
                                  <div class="adderess"><i class="fa fa-map-marker" aria-hidden="true"></i>  Bangalore, India</div>
                              </div>
                          </div>
                      </div>
                      <div class="item-foot">
                          <span><i class="fa fa-calendar" aria-hidden="true"></i> Issued Jan 6, 2012</span>
                          <span><i class="fa fa-clock-o" aria-hidden="true"></i>                            Full Time</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-item">
                      <div class="featured-wrap">
                          <div class="featured-inner">
                              <figure class="item-thumb">
                                  <a class="hover-effect" href="#">
                                      <img src="../../assets/img/features/img-2.jpg" alt="">
                                  </a>
                              </figure>
                              <div class="item-body">
                                  <h3 class="job-title"><a href="#">Software Engineer</a></h3>
                                  <div class="adderess"><i class="fa fa-map-marker" aria-hidden="true"></i>  Bangalore, India</div>
                              </div>
                          </div>
                      </div>
                      <div class="item-foot">
                          <span><i class="fa fa-calendar" aria-hidden="true"></i>  Issued March 26, 2015</span>
                          <span><i class="fa fa-clock-o" aria-hidden="true"></i>                            Full Time</span>
                      </div>
                  </div>
              </div> -->

        </div>

        <div class="row">
            <div class="col-md-12">
                <a (click)="verifyInfo()" class="btn btn-common btn-large pull-right" style="color:#fff;">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Verify my credentials</a>
            </div>
        </div>

    </div>
</section>

<section class="infobox section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-text">
                    <h2>Did we miss a credential?</h2>
                    <p>Just go back and upload your updated resume.</p>
                </div>
                <a href="#" class="btn btn-border">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
            </div>
        </div>
    </div>
</section>

<footer>

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2018 The Smart Resume</p>
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>