<div class="header">
  <section id="intro" class="section-intro pb6">
    <div class="logo-menu">
      <nav class="navbar navbar-default bshad-n" role="navigation" data-spy="affix" data-offset-top="50">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" style="width:170px;" href="#">
              <img src="../../assets/img/logo.png" alt="">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbar">
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav">
              <li>
                <a href="#">
                  About
                </a>
              </li>
              <li>
                <a href="#">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
    </div>


    <div class="search-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <br><br><br><br>
            <h1>Your EY journey begins here</h1>
            <h2 class="mb15">Upload your
              <strong>resume</strong> now.</h2>
            
            <div class="content">
              <form #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-11 col-sm-11 pr0">
                    <!-- <div class="input-group">
                      <span class="input-group-btn">
                        <button id="file-button-browse" type="button" class="btn btn-default pt8">
                          <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
                        </button>
                      </span>
                      <input type="file" id="files-input-upload" style="display:none" (change)="onFileChange($event)" required>
                      <input type="text" id="file-input-name" disabled="disabled" placeholder="Select your resume" class="form-control" required>
                    </div> -->
                    <div>
                      <input type="file" ngModel name="Resume" id="Resume" class="form-control" title="Upload Resume" class="btn btn-default uplplg" (change)="onFileChange($event)"
                        required>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1">
                    <button type="submit" [disabled]="!f.valid" id="file-upload-resume" class="btn btn-search-icon">
                      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>

<script type="text/javascript">
  //file upload
  document.getElementById('file-button-browse').addEventListener('click', function () {
    document.getElementById('files-input-upload').click();
  });

  document.getElementById('files-input-upload').addEventListener('change', function () {
    document.getElementById('file-input-name').value = this.value;

    document.getElementById('file-upload-resume').removeAttribute('disabled');
  });
</script>

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>