<div class="header">
    <div class="logo-menu">
        <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo logow-al" href="#">
                        <img src="../../assets/img/logo.png" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Start Navigation List -->
                    <!-- <ul class="nav navbar-nav">
                      <li>
                          <a href="#" class="active">
                              About
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Contact
                          </a>
                      </li>
                  </ul> -->
                    <ul class="nav navbar-nav navbar-right float-right">
                        <li class="right">
                            <a href="#" class="signinout">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a>
                        </li>
                        <li class="right">
                            <a href="#" class="signinout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu Start -->
            <!-- <ul class="wpb-mobile-menu">
              <li>
                  <a href="#">About</a>
              </li>
              <li>
                  <a href="#">Contact</a>
              </li>
          </ul> -->
            <!-- Mobile Menu End -->
        </nav>
    </div>
</div>





<section class="find-job section">
    <div class="container">
        <h2 class="section-title text-center">{{jobName}}</h2>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="job-list">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../../assets/img/jobs/img-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="job-list-content">
                                <h4>{{jobName}} position</h4>
                                <ul>
                                    <li>Total number of questions : 5</li>
                                    <li>Time alloted : 30 minutes</li>
                                    <li>DO NOT refresh the page</li>
                                </ul>
                                <div class="job-tag">
                                    <div class="pull-left">
                                        <div class="meta-tag">
                                            <span>
                                                <a href="#">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    30 minutes</a>
                                            </span>
                                            <span>
                                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                5 questions</span>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <a [routerLink]="['/viewquestions', jobName]" class="btn btn-common btn-rm">Start Test</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>