  <div class="header">    
    <section id="intro" class="section-intro pb6">
  <div class="search-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="card card-container">
                <a href="#">
                    <img id="profile-img" class="" src="../../assets/img/logo.png" />
                </a>
                <h3 class="signin-title">Create your account</h3><br>
                <form class="form-signin">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
                    <input type="text" id="inputname" class="form-control" placeholder="Full Name" autofocus>
                    <input type="email" id="inputEmail1" class="form-control" placeholder="Email address">
                    <input type="password" id="inputPassword1" class="form-control" placeholder="Enter Password" >
                    <input type="password" id="inputPassword2" class="form-control" placeholder="Confirm Password">
                    <button class="btn btn-common btn-large" type="submit">Submit</button>
                </form>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#" class="signinsignup">
                            Sign in
                        </a>
                    </div>
                </div>
                
            </div><!-- /card-container -->
        </div>
      </div>
    </div>
  </div>

</section>

</div>

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="ti-arrow-up"></i>
</a>
