<div class="header">
    <div class="logo-menu">
        <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo logow-al" href="#">
                        <img src="../../assets/img/logo.png" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Start Navigation List -->
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="active">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu Start -->
            <ul class="wpb-mobile-menu">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->
        </nav>
    </div>
</div>

<section class="find-job section">
    <div class="container">
        <!-- <h2 class="section-title text-center" *ngIf="relevantJobs?.length">Open positions you can apply : {{relevantJobs?.length}} </h2> -->
        <h2 class="section-title text-center" >Open positions you can apply : {{relevantJobs?.length}} </h2>
        <div class="row" *ngIf="relevantJobs?.length">
                <!-- <div class="row" > -->
            <div class="col-md-9 col-sm-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="job-list" *ngFor="let relJobs of relevantJobs">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/jobs/img-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="job-list-content">
                                <h4>
                                    <a>{{relJobs[0]}}</a>
                                    <span class="full-time">Full-Time</span>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae
                                    atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis
                                    odit in dicta reprehenderit, officiis, praesentium?</p>
                                <div class="job-tag">
                                        <div class="pull-left">
                                                <div class="meta-tag">
                                                    <span>
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Bangalore, India</span>
                                                </div>
                                            </div>
                                    <div class="pull-right">
                                        <a [routerLink]="['/starttest', relJobs[0]]" class="btn btn-common btn-rm">Apply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <aside>
                            <div class="sidebar">
                                <div class="inner-box">
                                    <h3>Submission History</h3>
                                    <ul class="cat-list">
                                        <li>
                                            <a href="#">C# Developer</a>
                                        </li>
                                        <li>
                                            <a href="#">iOS Developer</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="inner-box">
                                    <h3>Submission Status</h3>
                                    <ul class="cat-list">
                                        <li>
                                            <a href="#">C# Developer (Rejected)</a>
                                        </li>
                                        <li>
                                            <a href="#">iOS Developer (Under process)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="section-title text-center" *ngIf="!relevantJobs?.length">No open positions</h2>

    </div>
</section>

<footer>
    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2018 The Smart Resume</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
</footer>


<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>