/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    overflow-x: hidden;
    color: #444;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.6em;
    line-height: 1.4em;
  }
  p {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    line-height: 24px;
    font-weight: 400;
  }
  a {
    color: #444;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  a:hover,
  a:focus {
    color: #12A5F4;
  }
  img {
    max-width: 100%;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
  ul li {
    list-style: none;
    margin: 0;
  }
  ol {
    list-style: none;
  }
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
  .center {
    text-align: center;
  }
  ::selection {
    background: #12A5F4;
    color: #fff;
  }
  ::-moz-selection {
    background: #12A5F4;
    color: #fff;
  }
  .btn {
    padding: 12px 30px;
    color: #fff;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    border: none;
  }
  .btn-common:hover,
  .btn-common:focus {
    color: #fff;
    background: #ea4249;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  }
  .btn-search-icon:hover {
    opacity: 0.8;
  }
  .btn-common {
    background-color: #12A5F4;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
  }
  .btn-border {
    background: #fff;
    color: #12A5F4;
    text-transform: uppercase;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
  }
  .btn-border:hover {
    color: #12A5F4;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  }
  .btn-search {
    padding: 11px;
  }
  .btn-lg {
    padding: 15px 30px;
    font-weight: 700;
    letter-spacing: 0.3px;
    border-radius: 4px;
  }
  .btn-sm {
    font-size: 14px;
    padding: 7px 18px;
    line-height: 1.5;
    margin-bottom: 5px;
    border: none;
    text-transform: capitalize;
  }
  .btn.btn-sm,
  .btn-group-sm .btn,
  .navbar .navbar-nav > li > a.btn.btn-sm,
  .btn-group-sm .navbar .navbar-nav > li > a.btn {
    padding: 5px 20px;
    font-size: 13px;
  }
  .btn-xs {
    border-radius: 0px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
  }
  .btn-rm {
    padding: 10px 21px;
    text-transform: uppercase;
  }
  .btn-post {
    padding: 10px 16px;
  }
  .btn-search-icon {
    padding: 14px 22px;
    height: 55px;
    font-size: 22px;
    background: #12A5F4;
    color: #fff;
    width: 65px;
    text-align: center;
  }
  .btn-search-icon:hover {
    color: #fff;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 36px;
    padding: 0px 0px 30px;
    font-weight: 900;
  }
  .medium-title {
    font-size: 24px;
    padding: 10px 0;
    text-transform: uppercase;
    position: relative;
  }
  .medium-title:before {
    position: absolute;
    content: " ";
    width: 56px;
    bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #12A5F4;
  }
  #content {
    padding: 80px 0;
  }
  .main-container {
    padding: 80px 0;
  }
  .no-padding {
    padding: 0px !important;
  }
  .page-header {
    padding: 40px 0;
    margin: 0;
    border-top: 1px solid #999;
    position: relative;
  }
  .page-header .product-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
  }
  .breadcrumb-wrapper {
    text-align: center;
  }
  .breadcrumb {
    font-size: 14px;
    color: #12A5F4;
    border-radius: 0px;
    background: transparent;
    padding: 5px 0px;
    z-index: 1;
  }
  .breadcrumb a {
    color: #fff;
  }
  .breadcrumb a:hover {
    color: #12A5F4;
  }
  
  /* ==========================================================================
     Navigation Menu Styles
     ========================================================================== */
  .navbar-default.affix {
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  .navbar-default.affix .navbar-brand {
    padding: 7px 0px;
  }
  .navbar-default.affix .navbar-nav {
    margin: 10px 0px 0px 20px;
  }
  .navbar-default.affix .navbar-nav > li > a,
  .navbar-default.affix .navbar-nav > li > a:focus {
    padding: 10px 14px;
    color: #444;
  }
  .navbar-default.affix .side {
    padding: 18px 0;
  }
  .navbar-default.affix .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
  }
  .navbar-default.affix .float-right li a {
    color: #12A5F4 !important;
    border: 1px solid #12A5F4;
  }
  .navbar-default.affix .float-right li a:hover {
    background: #12A5F4;
    color: #fff!important;
  }
  .navbar {
    margin-bottom: 0;
    background: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
  }
  .navbar-brand {
    position: relative;
    margin: 0!important;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .navbar-brand .ripple-container {
    display: none;
  }
  .navbar-default .navbar-nav {
    position: relative;
    margin: 20px 0px 5px 20px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .navbar-default .navbar-nav > li {
    margin-right: 5px;
    padding-bottom: 10px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    display: block;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .navbar-default .navbar-nav > li:hover > a,
  .navbar-default .navbar-nav > li > a.active {
    color: #fff;
    background-color: #12A5F4;
  }
  .navbar-default .navbar-nav .dropdown {
    background: #ffffff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    left: 0;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    width: 195px;
    z-index: 999;
  }
  .navbar-default .navbar-nav .dropdown:before {
    position: absolute;
    top: -6px;
    left: 22px;
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 8px 7px;
    border-color: transparent transparent #fff;
    box-sizing: border-box;
  }
  .navbar-default .navbar-nav > li.drop:hover .dropdown {
    visibility: visible;
    opacity: 1;
  }
  .dropdown li a.active,
  .sup-dropdown li a.active {
    color: #12A5F4;
  }
  .dropdown > li:hover > a,
  .sup-dropdown li:hover > a {
    color: #12A5F4;
  }
  .dropdown li,
  .sup-dropdown li {
    position: relative;
  }
  .dropdown li a,
  .sup-dropdown li a {
    display: block;
    color: #666;
    margin-bottom: 2px;
    font-size: 13px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px 10px;
    line-height: 26px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .dropdown li a i {
    float: right;
    font-size: 17px;
    position: relative;
    top: -1px;
    margin: 4px 5px;
  }
  .navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    border-radius: 2px;
    border-bottom: 2px solid #12A5F4;
    padding: 12px;
    width: 195px;
    background-color: #fff;
    margin-left: 10px;
    z-index: 3;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
  .navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    z-index: 9999;
  }
  .float-right {
    border-radius: 0px;
    margin-left: 30px;
  }
  .float-right li a {
    font-size: 13px;
    /* color: #fff; */
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    margin-right: 0px;
    text-transform: uppercase;
  }
  .float-right li a:hover {
    background: #2d61e6;
    color: #fff;
  }
  .float-right li a i {
    margin-right: 3px;
  }
  .main-navigation {
    background: #fff;
  }
  .main-navigation .navbar-nav > li > a {
    color: #444;
  }
  .main-navigation .float-right li a {
    color: #12A5F4 !important;
    border: 1px solid #12A5F4;
  }
  .main-navigation .float-right li a:hover {
    color: #fff!important;
  }
  .main-navigation .navbar-nav .dropdown {
    background: #282828;
  }
  .main-navigation .dropdown li a,
  .main-navigation .sup-dropdown li a {
    color: #fff;
  }
  .main-navigation .navbar-nav .dropdown:before {
    border-color: transparent transparent #282828;
  }
  .wpb-mobile-menu {
    display: none;
  }
  .wpb-mobile-menu ul li > ul {
    padding: 0;
    border-style: solid;
    border-width: 4px 0 0 0;
    border-radius: 0;
    left: 0;
    right: 0;
    border-color: transparent;
  }
  .wpb-mobile-menu ul li > ul > li > a {
    color: #666;
    padding: 10px 0 10px 15px;
  }
  .wpb-mobile-menu ul li > ul > li > a:hover,
  .wpb-mobile-menu ul li > ul > li > a .active {
    background: #ecf0f1;
  }
  .wpb-mobile-menu ul li > ul > li.active > a {
    background: #ecf0f1;
  }
  .slicknav_menu {
    display: none;
  }
  @media screen and (max-width: 767px) {
    .navbar-brand {
      position: absolute;
      top: 0;
    }
    .tbtn {
      display: none;
    }
    /* #menu is the original menu */
    .slicknav_menu {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar-toggle {
      display: none;
    }
    .tbtn {
      display: none;
    }
  }
  .tbtn {
    color: #FFF !important;
    font-size: 30px;
    height: 42px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 105px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    background: #12A5F4;
    z-index: 999;
    top: 124px;
    left: 0px;
  }
  .tbtn p {
    font-size: 12px;
  }
  .tbtn p i {
    margin-right: 4px;
    font-size: 14px;
  }
  .title-menu {
    font-size: 15px;
    color: #666;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
  }
  .navmenu,
  .navbar-offcanvas {
    width: 180px;
    z-index: 9999999;
  }
  .navmenu-default,
  .navbar-default .navbar-offcanvas {
    background-color: #fff;
  }
  .navmenu-default .navmenu-nav > li > a:hover,
  .navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
  .navmenu-default .navmenu-nav > li > a:focus,
  .navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: #fff;
    background-color: #12A5F4;
  }
  .nav > li {
    position: relative;
    display: block;
  }
  .navmenu-default .navmenu-nav > li > a,
  .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: #666;
    padding: 0px 15px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
  }
  nav#menu span.fa.fa-bars:hover {
    color: #12A5F4;
  }
  .navmenu-default .navmenu-nav > .active > a,
  .navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
  .navmenu-default .navmenu-nav > .active > a:hover,
  .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
  .navmenu-default .navmenu-nav > .active > a:focus,
  .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
    background: #12A5F4;
    color: #fff;
  }
  .close {
    background: transparent;
    padding: 14px 12px;
    opacity: 1;
  }
  .close i {
    background: #12A5F4;
    color: #fff;
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
  }
  /* ==========================================================================
     Custom Component
     ========================================================================== */
  /* ==========================================================================
     Preset Loader
     ========================================================================== */
  /*====================================================
      intro section style
      ====================================================*/
  .section-intro {
    /* background: url("assets/img/bg/bg-intro.jpg") center center no-repeat; */
    background: url(assets/img/bg/bg-intro.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%;
  }
  .section-intro:before {
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(42, 46, 50, 0.8);
    position: absolute;
  }
  .search-container {
    padding: 200px 0;
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .search-container .form-control {
    padding: 0 40px;
    border: 1px solid transparent;
  }
  .search-container .form-group {
    margin-bottom: 0px!important;
  }
  .search-container h2 {
    font-size: 30px;
    color: #12A5F4;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: -1px;
  }
  .search-container h1 {
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .search-container .content {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-bottom: 30px;
  }
  .popular-jobs a {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    color: #fff;
    margin: 0 5px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .popular-jobs a:hover {
    background: #12A5F4;
    border-color: #12A5F4;
    color: #fff;
  }
  .section-intro .main-text {
    margin: 100px 15px 130px;
    text-transform: uppercase;
  }
  .section-intro .main-text .intro-title {
    font-size: 48px;
    color: #fff;
    white-space: nowrap;
    line-height: 58px;
  }
  .section-intro .main-text .sub-title {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  #search-row-wrapper {
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  #search-row-wrapper .overlay {
    width: 100%;
    height: 100%;
  }
  #search-row-wrapper .search-inner {
    padding: 40px 0;
  }
  #intro-bg {
    background: url("/assets/img/bg/bg-intro-1.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%;
  }
  #intro-bg:before {
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(42, 46, 50, 0.7);
    position: absolute;
  }
  /* ==========================================================================
     Advanced search
     ========================================================================== */
  .search-bar {
    background: rgba(68, 68, 68, 0.7);
    padding: 20px;
  }
  .search-bar i {
    font-size: 15px;
    position: absolute;
    top: 0px;
    background-color: transparent;
    color: #444;
    right: 15px;
    padding: 15px;
  }
  .search-bar label {
    z-index: 0;
    font-weight: 400;
    width: 100%;
    margin: 0px;
  }
  .search-bar .form-group {
    margin-bottom: 0px!important;
  }
  .input-group-addon {
    border: none;
  }
  .search-category .search-category-container {
    border: none;
    padding: 0;
    position: relative;
    border-radius: 0;
    border: none!important;
    background: #fff;
  }
  .input-group-addon {
    padding: 0!important;
  }
  .styled-select {
    position: relative;
    width: 100%;
    background: #fff;
  }
  .styled-select:before {
    content: "\e651";
    float: left;
    position: absolute;
    font-family: themify;
    color: #666;
    left: 2px;
    padding: 13px;
    z-index: 999;
  }
  .styled-select > select {
    background: transparent;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    border-radius: 0;
    height: 44px;
  }
  .search-category select {
    padding: 12px;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
  select > opation:focus {
    box-shadow: none;
    border: none;
  }
  .dropdown-product select.balck {
    background-color: #666;
  }
  .dropdown-product select.option3 {
    border-radius: 10px 0;
  }
  .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted transparent!important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px!important;
  }
  .btn-default {
    padding: 17px 14px;
    border-radius: 0px;
    color: #2d2d2d !important;
    background: #fff;
    text-transform: none;
  }
  .btn-default:hover {
    background-color: #fff;
    border-color: #fff;
  }
  label {
    margin: 0;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
  }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    margin-left: 30px;
  }
  .page-ads .styled-select {
    width: 100%;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    color: #444;
    display: block;
  }
  .page-ads .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
  }
  /* ==========================================================================
     Jobs section Start
     ========================================================================== */
  .find-job {
    background: #fff;
  }
  .find-job .tabs-container {
    background: #F0F3FA;
    padding: 15px;
    border: 1px solid #ddd;
  }
  .find-job .nav-tabs {
    padding: 20px 0;
    background: transparent;
  }
  .find-job .nav-tabs > li > a {
    padding: 10px 15px;
    font-size: 14px;
    color: #12A5F4;
    text-transform: uppercase;
    border: 1px solid #12A5F4 !important;
    border-radius: 0px;
    margin-right: 10px;
    font-weight: 700;
  }
  .find-job .nav > li > a:focus,
  .find-job .nav > li > a:hover {
    background-color: #12A5F4;
    color: #fff;
  }
  .find-job .nav-tabs > li.active > a,
  .find-job .nav-tabs > li.active > a:focus,
  .find-job .nav-tabs > li.active > a:hover {
    border-radius: 0px;
    background: #12A5F4;
    color: #fff;
  }
  .find-job table td {
    line-height: 78px !important;
    font-size: 14px;
    font-weight: 700;
  }
  .find-job td img {
    margin-right: 10px;
  }
  .find-job .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #fff;
  }
  .find-job .table > caption + thead > tr:first-child > td,
  .find-job .table > caption + thead > tr:first-child > th,
  .find-job .table > colgroup + thead > tr:first-child > td,
  .find-job .table > colgroup + thead > tr:first-child > th,
  .find-job .table > thead:first-child > tr:first-child > td,
  .find-job .table > thead:first-child > tr:first-child > th {
    padding: 15px 0;
    color: #627198;
    font-size: 14px;
    font-weight: 700;
  }
  .find-job .pill {
    display: inline-block;
    padding: 4px 4px;
    height: 18px;
    line-height: 12px;
    text-align: center;
    border-radius: 30px;
    color: white;
  }
  .find-job .pill.medium {
    padding: 4px 10px;
    height: 22px;
    font-size: 12px;
    line-height: 15px;
  }
  .find-job .green {
    background: #9DB722;
  }
  .find-job .red {
    background: #DE4003;
  }
  .find-job .yellow {
    background: #DDA103;
  }
  .find-job .showing a {
    margin-left: 10px;
    font-size: 14px;
    line-height: 32px;
  }
  .find-job .showing a span {
    color: #12A5F4;
  }
  .find-job .pagination > li > a,
  .find-job .pagination > li > span {
    margin-right: 5px;
    border-radius: 50px !important;
    background: transparent;
  }
  .find-job .pagination .btn i {
    font-size: 10px;
  }
  
  
  /* ==========================================================================
     Featured Jobs Section Style
     ========================================================================== */
  .featured-jobs .featured-item {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 0px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    cursor: pointer;
    -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
    -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
  }
  .featured-jobs .featured-item:hover {
    box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  }
  .featured-jobs .featured-wrap {
    background: #fff;
    width: 100%;
    padding: 8px;
  }
  .featured-jobs .item-thumb {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .featured-jobs .item-thumb a {
    display: block;
  }
  .featured-jobs .item-thumb:hover {
    opacity: 0.9;
  }
  .featured-jobs .item-body {
    padding: 20px 12px 10px;
    width: 100%;
  }
  .featured-jobs .item-body .job-title {
    margin: 0 0 4px 0;
  }
  .featured-jobs .item-body .job-title a {
    font-size: 16px;
    text-transform: uppercase;
  }
  .featured-jobs .item-body .job-title a:hover {
    color: #12A5F4;
  }
  .featured-jobs .item-body .adderess {
    color: #999;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
  .featured-jobs .item-foot {
    background: #fff;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    position: relative;
  }
  .featured-jobs .item-foot a {
    color: #999;
  }
  .featured-jobs .item-foot a:hover {
    color: #12A5F4;
  }
  .featured-jobs .item-foot span {
    color: #999;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-right: 10px;
  }
  .featured-jobs .item-foot span i {
    margin-right: 5px;
  }
  .featured-jobs .item-foot .view-iocn {
    position: absolute;
    top: -24px;
    right: 24px;
  }
  .featured-jobs .item-foot .view-iocn a {
    width: 48px;
    display: block;
    background: #12A5F4;
    color: #fff;
    font-size: 20px;
    height: 48px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
  
  
  /* ==========================================================================
     Clients Section
     ========================================================================== */
  .clients {
    background: #f7f7f7;
  }
  .clients .items {
    margin: 15px;
    text-align: center;
  }
  
  /* ==========================================================================
     Infobox Style
     ========================================================================== */
  .infobox {
    background: #12A5F4;
  }
  .infobox .info-text {
    float: left;
    display: inline-block;
  }
  .infobox .info-text h2 {
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    text-transform: uppercase;
  }
  .infobox .info-text p {
    color: #fff;
    line-height: 30px;
  }
  .infobox .info-text p a {
    color: #ddd;
  }
  .infobox .info-text p a:hover {
    color: #fff;
  }
  .infobox .btn {
    margin-top: 15px;
    float: right;
  }
  /* ==========================================================================
     Footer Style
     ========================================================================== */
  footer .block-title {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  footer .footer-Content {
    background-color: #202020;
    padding: 60px 0;
    color: #fff;
  }
  .textwidget {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
  }
  footer .menu {
    padding-left: 0;
  }
  footer .menu li {
    padding-bottom: 10px;
  }
  footer .menu li a {
    color: #fff;
    padding: 0px;
  }
  footer .menu li a:hover {
    color: #12A5F4;
  }
  .subscribe-box {
    margin-top: 18px;
  }
  .subscribe-box input[type="text"] {
    color: #444;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
  }
  .subscribe-box input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background: #12A5F4;
    text-transform: uppercase;
    border: none;
    padding: 7px 16px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .bottom-social-icons {
    margin-bottom: 10px;
  }
  .bottom-social-icons a {
    color: #fff;
    text-align: center;
    width: 42px;
    line-height: 44px;
    margin-right: 5px;
    border-radius: 50px;
    background: #12A5F4;
    display: inline-block;
    height: 42px;
    position: relative;
    overflow: hidden;
  }
  #copyright {
    background-color: #202020;
    border-top: 1px solid #393939;
    padding: 20px 0 10px;
    color: #fff;
  }
  #copyright p {
    line-height: 34px;
  }
  #copyright p a {
    color: #fff;
  }
  #copyright p a:hover {
    color: #12A5F4;
  }
  .social-icon .facebook:hover {
    background-color: #3b5998;
  }
  .social-icon .twitter:hover {
    background-color: #55acee;
  }
  .social-icon .dribble:hover {
    background-color: #D34836;
  }
  .social-icon .flickr:hover {
    background-color: #ff0084;
  }
  .social-icon .youtube:hover {
    background-color: #CC181E;
  }
  .social-icon .google-plus:hover {
    background-color: #dd4b39;
  }
  .social-icon .linkedin:hover {
    background-color: #007bb5;
  }
  footer ul li a {
    padding: 0px;
  }
  footer {
    padding: 0px;
  }
  /* ==========================================================================
     Categories Page style
     ========================================================================== */
  .widget-title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .widget-title:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #12A5F4;
    width: 50px;
    bottom: -1px;
    left: 0px;
  }
  .widget-title i {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    color: #12A5F4;
  }
  .widget-title h4 {
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
  }
  .inner-box {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
  }
  .categories-list ul {
    margin: 0;
  }
  .categories-list ul li a {
    padding: 10px;
    margin-bottom: 5px;
    display: block;
    font-size: 13px;
    color: #444;
    border-bottom: 1px solid #eee;
  }
  .categories-list ul li a:hover {
    color: #12A5F4;
  }
  .categories-list ul li a i {
    margin-right: 5px;
  }
  .categories-list ul li:last-child a {
    border: none;
  }
  /* ==========================================================================
     Categories All Page Style
     ========================================================================== */
  .all-categories .cat-title {
    font-size: 14px;
    text-transform: uppercase;
    background: #F8F8F8;
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .all-categories .cat-title span {
    color: #999;
    font-size: 12px;
  }
  .all-categories ul {
    margin-bottom: 20px;
  }
  .all-categories ul li {
    padding: 4px 20px;
    font-size: 15px;
    line-height: 26px;
  }
  .all-categories ul li a {
    color: #999;
  }
  .all-categories ul li a:hover {
    color: #12A5F4;
  }
  /* ==========================================================================
     Pagination
     ========================================================================== */
  .pagination-bar {
    padding-bottom: 35px;
    margin-top: 35px;
  }
  .pagination {
    margin: 0;
  }
  .pagination > li > a,
  .pagination .pagination > li > span {
    border: 1px solid #eee;
    border-radius: 0;
  }
  .pagination .active > a,
  .pagination .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    background-color: #12A5F4 !important;
    border-color: #12A5F4 !important;
  }
  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover {
    background: #12A5F4;
    border-color: #12A5F4;
    color: #fff;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    box-shadow: none;
  }
  .post-promo {
    background: #e5e5e5;
    border: 1px solid #ddd;
    padding: 30px;
  }
  .post-promo h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .post-promo h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  /* ==========================================================================
     About Page Style
     ========================================================================== */
  #service-main .section-title {
    margin-bottom: 30px;
  }
  .service-item {
    text-align: center;
    padding: 30px 15px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  .service-item .icon-wrapper {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .service-item .icon-wrapper i {
    display: block;
    margin: 0 auto;
    color: #12A5F4;
  }
  .service-item h2 {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  .service-item:hover {
    background: #f1f1f1;
  }
  .about-content {
    padding: 15px 15px;
  }
  .about-content .desc {
    font-weight: 700;
    line-height: 26px;
    margin-top: 20px;
  }
  .about-content p {
    margin-bottom: 20px;
  }
  /* ==========================================================================
     Job Details Page Style
     ========================================================================== */
  .job-detail {
    background: #F5F5F5;
  }
  .job-detail .medium-title {
    margin-bottom: 30px;
    font-weight: 900;
  }
  .job-detail .box {
    background: #fff;
    margin-bottom: 30px;
  }
  .job-detail .thumb {
    float: left;
    margin: 0 20px 0 0;
  }
  .job-detail .text-left {
    float: left;
    width: 75%;
  }
  .job-detail .text-left h3 {
    font-size: 24px;
    margin: 0 0 5px 0;
  }
  .job-detail .text-left p {
    margin: 0 0 10px 0;
  }
  .job-detail .text-left .meta span {
    margin-right: 20px;
    color: #999;
  }
  .job-detail .text-left .meta span i {
    color: #12A5F4;
    margin-right: 3px;
  }
  .job-detail .text-left .price {
    font-size: 18px;
    padding: 10px 0 15px 0;
    display: block;
    clear: both;
  }
  .job-detail .text-left .price i {
    font-size: 15px;
    margin-right: 10px;
    color: #12A5F4;
  }
  .job-detail .text-left .btn {
    margin-right: 20px;
  }
  .job-detail .clearfix {
    display: inline-block;
    width: 100%;
    padding: 30px 0 0 0;
  }
  .job-detail .clearfix h4 {
    margin-bottom: 10px;
  }
  .job-detail .clearfix p {
    color: #888;
    margin: 0 0 20px 0;
  }
  .job-detail .clearfix ul li {
    padding: 0 0 30px 20px;
    overflow: hidden;
    display: block;
    font-size: 14px;
    color: #666;
    position: relative;
  }
  .job-detail .clearfix ul li i {
    position: absolute;
    left: 0;
    top: 4px;
    margin-right: 5px;
    color: #12A5F4;
  }
  .job-detail .sidebar .thumb {
    width: 100%;
    background: #000;
    position: relative;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .job-detail .sidebar .text-box h4 {
    margin: 0 0 12px 0;
  }
  .job-detail .sidebar .text-box h4 a {
    color: #12A5F4;
  }
  .job-detail .sidebar .text-box p {
    color: #888;
    margin: 0 0 10px 0;
  }
  .job-detail .sidebar .text-box a.text {
    display: block;
    color: #888;
    padding: 0 0 5px 0;
  }
  .job-detail .sidebar .text-box a.text i {
    margin-right: 5px;
    color: #12A5F4;
  }
  .job-detail .sidebar .text-box strong.price {
    color: #666;
    font-size: 15px;
    display: block;
    padding: 3px 0 15px 0;
  }
  .job-detail .sidebar .text-box strong.price i {
    margin-right: 5px;
    color: #12A5F4;
  }
  .job-detail .sidebar .sidebar-jobs ul li {
    display: block;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
  }
  .job-detail .sidebar .sidebar-jobs ul li:last-child {
    border: none;
  }
  .job-detail .sidebar .sidebar-jobs ul li a {
    display: block;
    padding: 0 0 5px 0;
  }
  .job-detail .sidebar .sidebar-jobs ul li span {
    color: #888;
    display: block;
  }
  .job-detail .sidebar .sidebar-jobs ul li span i {
    margin-right: 5px;
    color: #12A5F4;
  }
  /* ==========================================================================
     Browse Jobs Page Style
     ========================================================================== */
  .full-time {
    font-size: 12px;
    color: #fff;
    background: #2c3e50 !important;
    border-radius: 4px;
    margin-left: 10px;
    padding: 7px 18px;
  }
  .part-time {
    font-size: 12px;
    color: #fff;
    background: #7f8c8d !important;
    border-radius: 4px;
    margin-left: 10px;
    padding: 7px 18px;
  }
  .job-browse .pagination {
    margin-top: 30px;
  }
  .job-browse .cat-list li {
    padding: 7px 0;
    border-bottom: 1px solid #eee;
  }
  .job-browse .cat-list li a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .job-list {
    border: 1px solid #f1f1f1;
    padding: 15px;
    display: inline-block;
    margin-bottom: 15px;
  }
  .job-list .thumb {
    float: left;
  }
  .job-list .thumb img {
    border-radius: 4px;
  }
  .job-list .job-list-content {
    display: block;
    margin-left: 125px;
    position: relative;
  }
  .job-list .job-list-content h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .job-list .job-list-content p {
    margin-bottom: 20px;
  }
  .job-list .job-tag {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    line-height: 35px;
  }
  .job-list .job-tag .meta-tag span {
    font-size: 14px;
    color: #999;
    margin-right: 10px;
  }
  .job-list .job-tag .meta-tag span a {
    color: #999;
  }
  .job-list .job-tag .meta-tag span a:hover {
    color: #12A5F4;
  }
  .job-list .job-tag .meta-tag span i {
    margin-right: 5px;
  }
  .job-list .job-tag .icon {
    float: left;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50px;
    text-align: center;
    margin-right: 18px;
    background: #f1f1f1;
    color: #12A5F4;
    font-size: 16px;
  }
  /* ==========================================================================
     Job Alerts Pages Style
     ========================================================================== */
  .right-sideabr h4 {
    font-size: 13px;
    color: #999;
  }
  .right-sideabr .item {
    padding: 15px 0px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
  }
  .right-sideabr .lest li {
    padding: 5px 0;
  }
  .right-sideabr .lest li a {
    font-size: 14px;
    font-weight: 700;
    color: #888;
  }
  .right-sideabr .lest li a:hover {
    color: #12A5F4;
  }
  .right-sideabr .lest li a.active {
    color: #12A5F4;
  }
  .right-sideabr .lest .notinumber {
    float: right;
    width: 24px;
    height: 24px;
    background: #12A5F4;
    text-align: center;
    border-radius: 50px;
    color: #fff;
  }
  .job-alerts-item {
    border: 1px solid #eee;
    padding: 30px;
  }
  .job-alerts-item .alerts-list {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
  }
  .job-alerts-item .alerts-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .job-alerts-item .alerts-content {
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
  }
  .job-alerts-item .alerts-content h3 {
    font-size: 16px;
  }
  .job-alerts-item .alerts-content .location {
    color: #999;
  }
  .job-alerts-item .alerts-content p {
    color: #999;
    margin-top: 15px;
  }
  .job-alerts-item .job-list {
    border: none;
    padding: 15px 0;
  }
  /* ==========================================================================
     My Resume Page Style
     ========================================================================== */
  .my-resume .item {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  .my-resume .item h3 {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }
  .my-resume .item h3 i {
    margin-right: 5px;
    color: #999;
  }
  .my-resume .item h4 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  .my-resume .item h5 {
    font-size: 13px;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }
  .my-resume .item .date {
    font-size: 15px;
    color: #888;
  }
  .my-resume .item p {
    color: #888;
  }
  .my-resume .item br {
    margin-bottom: 20px;
  }
  .my-resume .author-resume {
    display: inline-block;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
  }
  .my-resume .author-resume .thumb {
    float: left;
  }
  .my-resume .author-resume .thumb img {
    border-radius: 4px;
  }
  .my-resume .author-resume .author-info {
    margin-left: 140px;
  }
  .my-resume .author-resume .author-info h3 {
    font-size: 16px;
    text-transform: uppercase;
  }
  .my-resume .author-resume .author-info p {
    line-height: 30px;
  }
  .my-resume .author-resume .author-info .social-link {
    margin-top: 5px;
  }
  .my-resume .skill {
    margin-top: 30px;
  }
  .my-resume .skill h3 {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }
  .my-resume .skill h3 i {
    margin-right: 5px;
    color: #999;
  }
  /* Add Resume Page */
  .post-header {
    padding: 10px 15px;
    background: #ddd;
    margin-bottom: 20px;
  }
  .post-header a {
    color: #12A5F4;
  }
  .add-post-btn {
    width: 100%;
    display: inline-block;
    padding: 5px 0px 25px 0px;
  }
  .add-post-btn .btn-added {
    font-size: 12px;
    border-radius: 50px;
    font-weight: 700;
    background: #ddd;
    padding: 5px 15px;
  }
  .add-post-btn .btn-delete {
    color: red;
    font-size: 12px;
    border-radius: 50px;
    font-weight: 700;
    background: #ddd;
    padding: 5px 15px;
  }
  
  /* ==========================================================================
     Notifications Page Style
     ========================================================================== */
  .notification .pagination {
    margin-top: 30px;
  }
  .notification-item {
    display: inline-block;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
  }
  .notification-item .thums {
    float: left;
  }
  .notification-item .thums img {
    border-radius: 4px;
    width: 80px;
  }
  .notification-item .text-left {
    margin-left: 98px;
    padding: 15px 0;
  }
  .notification-item .text-left p {
    font-size: 15px;
  }
  .notification-item .text-left .time {
    color: #999;
  }
  .notification-item .text-left .time i {
    margin-right: 5px;
  }
  
  /* ==========================================================================
     Applications Page Style
     ========================================================================== */
  .applications-content {
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
  }
  .applications-content .thums {
    float: left;
    width: 60px;
    margin-right: 12px;
  }
  .applications-content h3 {
    font-size: 14px;
    margin-top: 10px;
  }
  .applications-content p {
    color: #999;
    margin-top: 15px;
  }
  /* ==========================================================================
     Manage Jobs Page Style
     ========================================================================== */
  .candidates .can-img img {
    width: 48px;
    margin: 5px 15px;
  }
  /* ==========================================================================
     Policy Page Style
     ========================================================================== */
  .policy {
    background: #F5F5F5;
  }
  .policy .post-box {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  }
  .policy .post-box .text-box {
    width: 100%;
    padding: 20px 23px;
  }
  .policy .post-box .text-box h2 {
    line-height: 26px;
    clear: both;
    margin: 0 0 18px 0;
  }
  .policy .post-box .text-box h4 {
    line-height: 26px;
    clear: both;
    color: #999;
    margin: 0 0 18px 0;
  }
  .policy .post-box .text-box p {
    color: #888;
    margin: 0 0 20px 0;
  }
  .policy .post-box ul {
    padding: 0 0 20px 20px;
    margin: 0;
  }
  .policy .post-box ul li {
    padding: 0;
    display: block;
    overflow: hidden;
    color: #888;
  }
  
  /* ==========================================================================
     Post Job Style
     ========================================================================== */
  fieldset label {
    margin-bottom: 10px;
  }
  fieldset p {
    margin-bottom: 10px;
  }
  .divider {
    padding: 10px 0px 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  
  /* ==========================================================================
     Pricing Table Style
     ========================================================================== */
  .mainHeading {
    text-align: center;
    margin-bottom: 20px;
  }
  .mainHeading .section-title {
    font-size: 24px;
    letter-spacing: 0.1em;
    padding: 20px 0px;
    text-transform: uppercase;
    font-weight: 400;
  }
  #pricing-table {
    background: #F0F3FA;
    text-align: center;
  }
  #pricing-table .title {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  #pricing-table .title h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0px;
  }
  #pricing-table .table {
    padding-bottom: 50px;
    border-radius: 4px;
    background: #fff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  #pricing-table .table .pricing-header {
    position: relative;
    padding: 30px 0px;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 50px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  #pricing-table .table .pricing-header .price-value {
    font-size: 52px;
    color: #12A5F4;
    position: relative;
    text-align: center;
    font-weight: 700;
    line-height: 62px;
  }
  #pricing-table .table .pricing-header .price-value sup {
    font-size: 30px;
    position: relative;
    top: -24px;
    font-weight: 400;
  }
  #pricing-table .table .pricing-header .price-quality {
    font-size: 14px;
    color: #999;
  }
  #pricing-table .table .description {
    text-align: center;
    padding: 0px 50px;
    margin-bottom: 30px;
  }
  #pricing-table .table .description li {
    font-size: 14px;
    color: #999;
    padding-bottom: 8px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  #pricing-table .table:hover {
    box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  }
  #pricing-table .table:hover .pricing-header {
    background: #12A5F4;
  }
  #pricing-table .table:hover .pricing-header .price-value {
    color: #ffffff;
  }
  #pricing-table .table:hover .pricing-header .price-quality {
    color: #ffffff;
  }
  #pricing-table #active-tb {
    box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  }
  #pricing-table #active-tb .pricing-header {
    background: #12A5F4;
  }
  #pricing-table #active-tb .pricing-header .price-value {
    color: #ffffff;
  }
  #pricing-table #active-tb .pricing-header .price-quality {
    color: #ffffff;
  }
  
  /* ==========================================================================
     Account Archived ADS pages style
     ========================================================================== */
  .collapse-box {
    margin-bottom: 15px;
  }
  .collapset-title {
    border-top: 1px solid #eee;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
    text-transform: uppercase;
  }
  .no-border {
    border: none;
  }
  .user-panel-sidebar ul {
    padding: 0;
  }
  .user-panel-sidebar ul li a {
    background: #FFF;
    display: block;
    color: #444;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 26px;
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  .user-panel-sidebar ul li a:hover,
  .user-panel-sidebar ul li a:active,
  .user-panel-sidebar ul li.active a {
    background-color: #12A5F4;
    color: #fff;
  }
  .user-panel-sidebar ul li a:hover .badge,
  .user-panel-sidebar ul li a:focus .badge,
  .user-panel-sidebar ul li.active a .badge {
    color: #fff;
  }
  .user-panel-sidebar ul li:last-child a {
    border-bottom: none;
  }
  .collapse-box .badge {
    float: right;
    background-color: transparent;
    color: #888;
    font-size: 11px;
    line-height: 20px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  .table-search .control-label {
    line-height: 16px;
    padding-right: 0;
  }
  .searchpan input#filter {
    font-size: 12px;
    height: 30px;
  }
  .clear-filter {
    font-size: 11px;
  }
  .add-img-td img {
    width: 100%;
  }
  .table-action {
    display: block;
    margin-bottom: 15px;
  }
  table.add-manage-table > tbody > tr > td,
  table.add-manage-table > tbody > tr > th {
    vertical-align: middle;
  }
  .table > thead > tr > th {
    border-bottom: none;
    color: #12A5F4;
  }
  .ads-details-td h4 {
    font-size: 15px;
    margin-bottom: 6px;
  }
  .ads-details-td strong {
    font-size: 13px;
    color: #444;
  }
  .ads-details-td sapn {
    color: #888;
  }
  .price-td {
    text-align: center;
    color: #888;
  }
  .add-img-selector {
    width: 2%;
  }
  .add-img-td {
    width: 20%;
  }
  .ads-details-td {
    width: 60%;
  }
  .price-td {
    width: 16%;
  }
  .action-td {
    width: 10%;
  }
  .photo-count {
    background: none repeat scroll 0 0 #ccc;
    border: 0 none;
    border-radius: 0;
    font-size: 12px;
    opacity: 0.9;
    padding: 0 3px;
    position: absolute;
    right: 4px;
    top: 5px;
  }
  /* ==========================================================================
     Account home page
     ========================================================================== */
  .userimg {
    border: 1px solid #eee;
    display: inline-block;
    width: 75px;
    padding: 3px;
    margin-right: 5px;
  }
  .usearadmin h3 {
    font-size: 18px;
    text-transform: uppercase;
  }
  .welcome-msg {
    margin-bottom: 30px;
  }
  .pt {
    margin-top: 15px;
  }
  .back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
  }
  .back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 50px;
    background-color: #12A5F4;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  /* ==========================================================================
     Custom Component
     ========================================================================== */
  .post-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .post-title a {
    color: #444;
  }
  .blog-post {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .blog-post .post-thumb {
    position: relative;
  }
  .blog-post .post-thumb .hover-wrap {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    background: rgba(5, 47, 67, 0.8);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .blog-post .post-thumb:hover .hover-wrap {
    opacity: 1;
  }
  .blog-post .post-thumb:hover .link {
    margin-top: 0px;
  }
  .blog-post .blog-author {
    float: left;
    height: 68px;
    margin-top: 32px;
    text-align: center;
    width: 68px;
  }
  .blog-post .blog-author img {
    border-radius: 50%;
  }
  .blog-post .post-content {
    width: 100%;
    padding: 30px 92px;
  }
  .blog-post .post-content .meta {
    font-size: 13px;
    margin-bottom: 17px;
    padding-bottom: 11px;
    border-bottom: 1px solid #eee;
  }
  .blog-post .post-content .meta .meta-part {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 25px;
  }
  .blog-post .post-content .meta .meta-part a {
    color: #999;
  }
  .blog-post .post-content .meta .meta-part a:hover {
    color: #12A5F4;
  }
  .blog-post .post-content .meta .meta-part i {
    margin-right: 5px;
  }
  .blog-post .post-content p {
    margin-bottom: 30px;
  }
  #pagination span,
  #pagination a {
    display: inline-block;
    text-align: center;
    height: 34px;
    width: 34px;
    color: #666;
    line-height: 33px;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  #pagination a:hover {
    border-color: #ddd;
  }
  #pagination .all-pages,
  #pagination .next-page {
    width: auto;
    padding: 0 14px;
  }
  .widget-title {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 1px;
    padding: 10px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    word-spacing: 1px;
    position: relative;
  }
  .widget-title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
  }
  .right-sidebar {
    padding-left: 20px;
  }
  .search {
    width: 100%;
    margin-bottom: 0px !important;
    position: relative;
  }
  .search-btn {
    position: absolute;
    top: 76px;
    right: 25px;
    border: none;
    background: transparent;
    font-size: 18px;
  }
  .search-btn i {
    color: #999;
  }
  #sidebar {
    margin-bottom: 30px;
  }
  #sidebar .widget {
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 22px;
    padding-bottom: 30px;
  }
  #sidebar .widget:last-child {
    border-bottom: none;
  }
  #sidebar .cat-list li {
    padding: 7px 0;
    border-bottom: 1px solid #eee;
  }
  #sidebar .cat-list li a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  #sidebar .cat-list li .num-posts {
    font-size: 12px;
  }
  #sidebar .cat-list li:last-child {
    border: none;
  }
  #sidebar .posts-list li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
  }
  #sidebar .posts-list li:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }
  #sidebar .posts-list .widget-thumb {
    float: left;
  }
  #sidebar .posts-list .widget-thumb a {
    display: block;
  }
  #sidebar .posts-list .widget-thumb a img {
    opacity: 1;
    max-width: 90px;
    margin: 5px 15px 0 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  #sidebar .posts-list .widget-thumb:hover img {
    opacity: 0.7;
  }
  #sidebar .posts-list .widget-content a {
    font-weight: 400;
    color: #666;
  }
  #sidebar .posts-list .widget-content span {
    color: #999;
    font-size: 12px;
    display: block;
    margin: 3px 0;
  }
  #sidebar .posts-list .widget-content span i {
    padding-right: 5px;
  }
  #sidebar .tag a {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    padding: 7px 12px;
    background: #12A5F4;
    margin: 4px 2px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  #sidebar .tag a:hover {
    color: #fff;
  }
  .single-post p {
    margin-bottom: 20px!important;
  }
  blockquote {
    border-left: none;
    padding: 30px;
    background: #12A5F4;
  }
  blockquote .quote-text {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    line-height: 34px;
  }
  blockquote p {
    margin-top: 10px;
    margin-bottom: 0px !important;
  }
  blockquote p a {
    color: #fff;
  }
  blockquote p a:hover {
    color: #fff;
  }
  #comments h3 {
    font-size: 20px;
    font-weight: 400;
  }
  #comments .comments-list {
    padding: 0;
    margin: 0 0 35px 0;
  }
  #comments .comments-list .media {
    padding: 30px 0;
  }
  #comments .comments-list .media .thumb-left {
    float: left;
    width: 75px;
    height: 75px;
  }
  #comments .comments-list .media .thumb-left img {
    border-radius: 50px;
  }
  #comments .comments-list .media .info-body {
    margin-left: 90px;
    background: #f1f1f1;
    padding: 20px;
  }
  #comments .comments-list .media .info-body .name {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 10px;
  }
  #comments .comments-list .media .info-body .comment-date {
    font-weight: 600;
    color: #999;
    margin-right: 5px;
    font-size: 12px;
  }
  #comments .comments-list li ul {
    padding-left: 85px;
  }
  .reply-link {
    color: #12A5F4;
    border-radius: 0px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .respond-title {
    font-size: 20px;
    font-weight: 400;
    padding: 0px 0px 30px;
  }
  .share-social span {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    color: #999;
    line-height: 31px;
    font-weight: 700;
  }
  .social-link a {
    color: #CACACA;
    text-align: center;
    width: 32px;
    border: 1px solid #CACACA;
    line-height: 32px;
    border-radius: 50px;
    display: inline-block;
    height: 32px;
  }
  .social-link .facebook:hover {
    color: #3b5998;
    border-color: #3b5998;
  }
  .social-link .twitter:hover {
    color: #55acee;
    border-color: #55acee;
  }
  .social-link .google:hover {
    color: #dd4b39;
    border-color: #dd4b39;
  }
  .social-link .linkedin:hover {
    color: #007bb5;
    border-color: #007bb5;
  }
  .head-faq {
    margin-bottom: 20px;
  }
  .panel-group .panel {
    margin-bottom: 24px;
  }
  .panel-default {
    border-radius: 0px;
    border: none;
  }
  .panel-default .panel-heading {
    padding: 0px 30px;
    outline: none;
    border-radius: 0px;
    background: #12A5F4 !important;
    border: 1px solid #12A5F4;
    width: 100%;
    box-shadow: none;
  }
  .panel-default .panel-heading .panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: inherit;
  }
  .panel-default .panel-heading a {
    font-size: 15px;
    font-weight: 400;
    padding: 15px 35px 15px 0px;
    display: inline-block;
    width: 100%;
    color: #fff;
    position: relative;
    text-decoration: none;
  }
  .panel-default .panel-heading a:after {
    font-family: "themify";
    content: "\e61a";
    position: absolute;
    right: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    line-height: 1;
    margin-top: -7px;
  }
  .panel-default .panel-heading .collapsed:after {
    content: "\e622";
  }
  .panel-default .panel-collapse .panel-body {
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid #fff;
  }
  /* ==========================================================================
     Contact Pages
     ========================================================================== */
  .contact-form,
  .information {
    margin-top: 40px;
  }
  .contact-datails {
    margin-bottom: 12px;
    min-height: 75px;
    position: relative;
  }
  .contact-datails .icon {
    position: absolute;
  }
  .contact-datails .icon i {
    font-size: 18px;
  }
  .contact-datails .info {
    padding-left: 30px;
  }
  .contact-datails .info h3 {
    font-size: 15px;
    display: block;
    text-transform: uppercase;
  }
  .contact-datails .info .datail {
    display: block;
    color: #888;
  }
  .form-control {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    color: #444;
    display: block;
    height: 55px;
    padding: 15px 10px;
    width: 100%;
  }
  .form-control:focus {
    box-shadow: none;
  }
  /* ==========================================================================
     .form-control, .form-group .form-control{
      border: 0;
      background-image: linear-gradient(@preset, @preset,), linear-gradient(#D2D2D2, #D2D2D2);
      background-size: 0 2px, 100% 1px;
      background-repeat: no-repeat;
      background-position: center bottom, center calc(100% - 1px);
      background-color: transparent;
      transition: background 0s ease-out;
      float: none;
      box-shadow: none;
      border-radius: 0;
      font-weight: 400;
  }
  .form-group.is-focused .form-control {
    outline: none;
    background-image: linear-gradient(@preset, @preset), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
  }
     ========================================================================== */
  .input-icon input {
    padding-left: 40px;
  }
  .input-icon {
    position: relative;
  }
  .login-form .input-icon i,
  .cd-form .input-icon i {
    color: #444;
    opacity: 0.6;
    padding-right: 10px;
    margin-top: -3px;
  }
  .input-icon i {
    font-size: 15px;
    left: 12px;
    line-height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
  }
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  .form-group i {
    position: absolute;
    top: 20px;
    color: #888;
    left: 12px;
    font-size: 18px;
  }
  .checkbox-item {
    display: inline-block;
    width: 100%;
  }
  .checkbox-item .checkbox {
    float: left;
    margin: 0;
  }
  .checkbox-item a {
    float: right;
  }
  /* ==========================================================================
    My Account
     ========================================================================== */
  .my-account {
    background: #f5f5f5;
  }
  .my-account-form .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
  }
  .my-account-form .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
  }
  .my-account-form .cd-switcher li:first-child a {
    border-radius: .4px 0 0 0;
  }
  .my-account-form .cd-switcher li:last-child a {
    border-radius: 0 .4px 0 0;
  }
  .my-account-form .cd-switcher a {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    background: #12A5F4;
    color: #fff;
  }
  .my-account-form .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
  }
  @media only screen and (min-width: 600px) {
    .my-account-form {
      margin: 4px auto;
    }
    .my-account-form .cd-switcher a {
      height: 70px;
      line-height: 70px;
    }
  }
  #cd-login,
  #cd-signup,
  #cd-reset-password {
    display: none;
  }
  #cd-login.is-selected,
  #cd-signup.is-selected,
  #cd-reset-password.is-selected {
    display: block;
  }
  .cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #666;
  }
  .cd-form-message {
    text-align: center;
    margin-bottom: 20px;
    color: #888;
  }
  .cd-form-bottom-message {
    text-align: center;
  }
  /* ==========================================================================
     .form-control:focus,
      textarea:focus{
      box-shadow: none;
      border: 1px solid @preset;
      outline: none;
      }
     ========================================================================== */
  .has-error .form-control:focus {
    box-shadow: none;
  }
  .addon {
    font-size: 20px;
    color: #888;
    border-radius: 0px;
    width: 32px!important;
  }
  .box {
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);
  }
  .page-login-form {
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);
  }
  .page-login-form h3 {
    font-size: 18px;
    color: #444;
    line-height: 18px;
    padding: 15px 0 30px;
    text-transform: uppercase;
    text-align: center;
  }
  .page-login-form .login-form .form-control {
    background: #ffffff !important;
  }
  .page-login-form .log-btn {
    width: 100%;
    padding: 12px 22px;
    margin: 0px 0px 20px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 16px;
  }
  .registration .form-group {
    margin: 0;
  }
  .registration .form-group .lable {
    margin-bottom: 10px;
  }
  .registration .form-group .form-control {
    background: #ffffff !important;
  }
  .registration .btn {
    padding: 7px 20px;
    border: none;
  }
  .form-ad .checkbox label {
    margin-bottom: 0px;
  }
  .control-label {
    font-size: 14px;
    color: #888;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .btn-file input[type="file"] {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: transparent none repeat scroll 0px 0px;
    cursor: inherit;
    display: block;
  }
  .file-caption {
    height: 54px;
  }
  .mb15 {
    margin-bottom: 15px;
  }
  .form-static {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
  }
  .btn-group,
  .btn-group-vertical {
    margin: 0;
  }
  .btn-select {
    padding: 12px;
    border-radius: 2px;
    color: #2d2d2d !important;
    background: #fff;
    text-transform: none;
  }
  .btn-group.open > .dropdown-toggle.btn,
  .btn-group.open > .dropdown-toggle.btn.btn-default,
  .btn-group-vertical.open > .dropdown-toggle.btn,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-default {
    background: #fff;
  }
  .btn-group.open .dropdown-toggle {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.125);
  }
  .btn-group.open .dropdown-toggle:focus {
    outline: none;
  }
  .dropdown-menu > li > a {
    padding: 12px 20px;
    margin-bottom: 4px;
  }
  .dropdown-menu li a:hover,
  .dropdown-menu li a:focus,
  .dropdown-menu li a:active {
    background-color: #12A5F4;
    color: #fff;
    border-radius: 0px;
  }
  .btn-group.bootstrap-select.dropdown-product ul.dropdown-menu.inner {
    display: none;
  }
  .btn-group.bootstrap-select.dropdown-product.open ul.dropdown-menu.inner {
    display: block;
    z-index: 9999;
  }
  .open .dropdown-menu {
    margin-top: 0;
  }
  .btn-group .dropdown-menu,
  .btn-group-vertical .dropdown-menu {
    border-radius: 0px;
    text-transform: none;
  }
  .input-group-addon {
    border: none;
    background: transparent;
  }
  .signinout{color:#333 !important;background:#fff; border:1px solid #333 !important;}
              .signinout:hover {
                  color: #fff !important;
                  background: #0670a9;
                  border: 1px solid #fff !important;
              }