<!-- <ul>
  <li routerLinkActive="active current"><a routerLink="/upload"></a></li>
  <li routerLinkActive="active current"><a routerLink="/actors"></a></li>
</ul> -->


<div class="header">
    <div class="logo-menu">
        <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo logow-al" href="#">
                        <img src="../../assets/img/logo.png" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Start Navigation List -->
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right float-right">
                        <li class="right"><a routerLink="/login" class="signinout"><i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a></li>
                        <li class="right" *ngIf="authService?.isLoggedIn()"><a routerLink="/home" (click)="authService.logout()" class="signinout"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu Start -->
            <ul class="wpb-mobile-menu">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->
        </nav>
    </div>
</div>



<section id="intro" class="section-intro pb6">
    <div class="search-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mbn20">WELL BEGUN IS HALF DONE</h1>
                    <br>
                    <h2 class="mb15">Make your resume as smart as you are.</h2>
                    <div class="row">
                        <div class="col-md-1 col-sm-1">
                            <button type="button" class="btn btn-common">More
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="../../assets/img/about/img1.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="about-content">
                    <h2 class="medium-title">
                        <b>Why Smart Resume ?</b>
                    </h2>
                    <br>
                    
                    <p class="desc">
                        <i class="fa fa-caret-right" aria-hidden="true"></i> A Hiring Manager spends 2 hours a day in the Recruitment Process</p>
                    <p class="desc">
                        <i class="fa fa-caret-right" aria-hidden="true"></i> A HR member spends 4 hours per day in Screening Resumes</p>
                    <p class="desc">
                        <i class="fa fa-caret-right" aria-hidden="true"></i> The Dev Team spends 2 hours per day in Telephonic Technical screenings</p>

                    <br />
                    
                    <h4 class="text-center">What if we would save all of these Wasted Hours?</h4>
                    <h4 class="text-center">And Employ a Machine to do it all for us?</h4>
                    <h4>So it can,</h4>
                    
                    <p class="desc">
                        <i class="fa fa-caret-right" aria-hidden="true"></i> Streamline the Hiring Process</p>
                    <p class="desc">
                        <i class="fa fa-caret-right" aria-hidden="true"></i> Increase Reliability of the Candidate's credentials</p>
                    <p class="desc">
                        <i class="fa fa-caret-right" aria-hidden="true"></i> Better Alignment of Candidate to Employer’s project requirements</p>

                </div>
            </div>
        </div>
    </div>
</div>



<section id="service-main" class="section">

    <div class="container">
        <h1 class="section-title text-center">
            A Smart Resume.....How?
        </h1>
        <div class="row">
            <form id="wizard-1" novalidate="novalidate">
                <div id="bootstrap-wizard-1" class="col-sm-12">
                    <div class="form-bootstrapWizard">
                        <ul class="bootstrapWizard form-wizard">
                            <li class="active" data-target="#step1">
                                <a>
                                    <span class="step">1</span>
                                    <span class="title">Upload your Resume</span>
                                </a>
                            </li>
                            <li data-target="#step2" class="">
                                <a>
                                    <span class="step">2</span>
                                    <span class="title">Verify your Credentials</span>
                                </a>
                            </li>
                            <li data-target="#step3" class="">
                                <a>
                                    <span class="step">3</span>
                                    <span class="title">Find well Aligned Jobs</span>
                                </a>
                            </li>
                            <li data-target="#step3" class="">
                                <a>
                                    <span class="step">4</span>
                                    <span class="title">Attempt a Technical Test</span>
                                </a>
                            </li>
                            <li data-target="#step3" class="">
                                <a>
                                    <span class="step">5</span>
                                    <span class="title">Get an Interview Call</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



<section id="service-main" class="section">

    <div class="container">
        <h1 class="section-title text-center">
            Come Work With Us
        </h1>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="service-item">
                    <div class="icon-wrapper">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </div>
                    <h2>
                        Great Location
                    </h2>
                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <div class="service-item">
                    <div class="icon-wrapper">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <h2>
                        Competitive Salary
                    </h2>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="service-item">
                    <div class="icon-wrapper">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </div>
                    <h2>
                        Coding Challenges
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="find-job section">
    <div class="container">
        <h2 class="section-title text-center">Current Openings at EY</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="job-list">
                    <div class="thumb">
                        <a href="#">
                            <img src="../../assets/img/jobs/img-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="job-list-content">
                        <h4>
                            <a href="#">Test Automation Engineer</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque
                            dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta
                            reprehenderit, officiis, praesentium?</p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Bangalore, India</span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="#">
                            <img src="../../assets/img/jobs/img-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="job-list-content">
                        <h4>
                            <a href="#">Full Stack Developer</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque
                            dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta
                            reprehenderit, officiis, praesentium?</p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Bangalore, India</span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="#">
                            <img src="../../assets/img/jobs/img-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="job-list-content">
                        <h4>
                            <a href="#">Java Architect</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque
                            dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta
                            reprehenderit, officiis, praesentium?</p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Bangalore, India</span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-list">
                    <div class="thumb">
                        <a href="#">
                            <img src="../../assets/img/jobs/img-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="job-list-content">
                        <h4>
                            <a href="#">UI Engineer</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque
                            dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta
                            reprehenderit, officiis, praesentium?</p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Bangalore, India</span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="#">
                            <img src="../../assets/img/jobs/img-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="job-list-content">
                        <h4>
                            <a href="#">UX Designer</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque
                            dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta
                            reprehenderit, officiis, praesentium?</p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Bangalore, India</span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="thumb">
                        <a href="#">
                            <img src="../../assets/img/jobs/img-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="job-list-content">
                        <h4>
                            <a href="#">.Net Architect</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque
                            dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta
                            reprehenderit, officiis, praesentium?</p>
                        <div class="job-tag">
                            <div class="pull-left">
                                <div class="meta-tag">
                                    <span>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Bangalore, India</span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="pagination pull-right">
                    <li class="active">
                        <a href="#" class="btn btn-common">Prev</a>
                    </li>

                    <li class="active">
                        <a href="#" class="btn btn-common">Next </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>






<footer>
    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2018 The Smart Resume</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
</footer>


<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>