<div class="header">
    <div class="logo-menu">
        <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo logow-al" href="#">
                        <img src="../../assets/img/logo.png" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Start Navigation List -->
                    <ul class="nav navbar-nav navbar-right float-right">
                        <li class="right">
                            <a href="#" class="signinout">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a>
                        </li>
                        <li class="right">
                            <a href="#" class="signinout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu Start -->
            <ul class="wpb-mobile-menu">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->
        </nav>
    </div>
</div>

<section class="find-job section">
    <div class="container">
        <h2 class="section-title text-center">Online Test</h2>
        <div class="row">
            <div class="col-md-12 col-sm-12">

<!-- questions-answers-end-existing -->
                <!-- <div class="container-fluid">
                    <div class="row">
                        <div id="proposalAccordion" class="panel-group" *ngFor="let q of jobQuestions?.quesanswers">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#proposalAcoordion" href="#collapse1">{{q.question}}</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Answers</p>
                                        {{q.answer}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->



<!-- questions-answers-start -->
                <div class="container-fluid">
                    <div class="row"  *ngFor="let q of jobQuestions?.quesanswers">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {{q.question}}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let a of q.answer">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios">
                                                    {{a}}
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

<!-- questions-answers-end -->



                <div class="row">
                    <div class="col-md-12">
                        <a  data-toggle="modal" data-target="#successqn" class="btn btn-common btn-large pull-right">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Submit</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>


<div class="modal fade product_view" id="successqn">
    <div class="modal-dialog" style="margin-top:100px;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <h3 class="modal-title">Congratulations!!! </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
<p>You scored in the 75th percentile. You wil be contacted by a HR personnel to schedule your in-person interview.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .product_view .modal-dialog {
        max-width: 800px;
        width: 100%;
    }

    .pre-cost {
        text-decoration: line-through;
        color: #a5a5a5;
    }

    .space-ten {
        padding: 10px 0;
    }
</style>


<style>
    .panel-default .panel-heading a:after {
        font-family: "fontawesome";
        content: "+";
        position: absolute;
        right: 15px;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        top: 50%;
        line-height: 1;
        margin-top: -7px;
    }
</style>